@import url("https://fonts.googleapis.com/css2?family=Gugi&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

body {
    font-family: "Noto Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6, .gugi-font {
    font-family: "Gugi", sans-serif;
}

/* 네비게이션 영역 */

.nav-link:hover {
    color: #ffc107
}

.navbar-nav .nav-link.active {
    color: #ffc107 !important; /* Bootstrap warning 색상(노랑) */
    font-weight: bold;
}

header {
    background-image: linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0.2)), url(../images/main-bg.jpg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

/* 서비스 영역 */
.card-hover:hover {
    cursor: pointer;
    background-color: beige;
}

#sns-links {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url(../images/sns-bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
}

#news {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url(../images/news-bg.jpg);
    background-size: cover;
    background-position: center;
}

@media (min-width: 768px) {
    .sns2 {
        width: 50%;
    }
}